* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 40px 0;
    text-align: center;
}


section {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
}

h2 {
    margin-bottom: 15px;
    color: #2c3e50;
}


.education ul {
    list-style-type: square;
    padding-left: 20px;
}

.skills {
    text-align: center;
}

.skill-box {
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 10px 18px;
    margin: 8px;
    border-radius: 20px;
    font-size: 14px;
}

.project {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #ecf0f1;
    border-radius: 6px;
}

/* Contact */
.contact p {
    margin: 5px 0;
}


